.wrapper {
  position: relative;
  padding-top: rem(360px);
  padding-bottom: rem(130px);
  background-image: url(https://th.bing.com/th/id/OIP.jizyrLTEStapCrhuHIWyYQHaE8?rs=1&pid=ImgDetMain);
  background-size: cover;
  background-position: center;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
  }
}

.wrapperone {
  position: relative;
  padding-top: rem(360px);
  padding-bottom: rem(130px);
  background-image: url(https://th.bing.com/th/id/R.6e624583260741e0f106493b726b80fa?rik=0owM2y17YkJU2A&pid=ImgRaw&r=0);
  background-size: cover;
  background-position: center;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
  }
}

.wrappervision {
  position: relative;
  padding-top: rem(180px);
  padding-bottom: rem(130px);
  background-image: url(https://th.bing.com/th/id/R.08ff82bcd1c6a06d85c82a6e65919895?rik=8iMIAepP5tKDog&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f58eyKEt.jpg&ehk=Zv5RYu4%2bDlNbP55AatOwoxBT6wBwYdmIzMz506xc%2blU%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  background-position: center;
}

.wrapperjoinus {
  position: relative;
  padding-top: rem(180px);
  padding-bottom: rem(130px);
  background-image: url(https://th.bing.com/th/id/OIP.u0t_mN9-l5ls9iDJ0mStCwHaDw?w=341&h=177&c=7&r=0&o=5&pid=1.7);
  background-size: cover;
  background-position: center;
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: rem(-1px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Greycliff CF, var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: var(--mantine-color-primary-4);
}

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
    text-align: left;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.control {
  height: rem(42px);
  font-size: var(--mantine-font-size-md);

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);

  @mixin hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}
